body {
    font-family: 'Inter', sans-serif;
}

.form-container {
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

datalist {
}

input:focus, select:focus {
    transition: all 0.2s ease-in-out;
}

#cotar-button {
}

#resultado {
}

#message-box {
}
