body {
    font-family: 'Inter', sans-serif;
}

.form-container {
    border-radius: 16px;
    width: 90%;
    margin: 0 auto;
    padding: 18px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

legend {
    padding: 8px !important;
    border-bottom: 1px solid lightgrey;
    width: 100%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;

    &::before {
        position: absolute;
        content: "";
        height: 18px;
        width: 18px;
        left: 4px;
        background-color: white;
        transition: 0.4s;
        border-radius: 50%;
        transform: translatey(25%);
    }

    &::after {
        position: absolute;
        content: "Não";
        top: 50%;
        transform: translateY(-50%);
        transition: 0.5s all;
        font-size: 14px;
        font-weight: bold;
        color: white;
        right: 8px;
    }
}

.switch input[type="checkbox"]:checked+.slider::after {
  content: "Sim";
  left: 8px;
  top: 50%;
}

.switch input[type="checkbox"]:checked+.slider::before {
  transform: translate(33px, 25%);
}

.switch input[type="checkbox"]:checked+.slider {
  background-color: #217867ff;
}

.card-option {
    border: 1px solid #dce0e6;
    padding: 15px;
    border-radius: 8px;
    background: #f7f8fa;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    position: relative;
    transition: all 0.2s ease;

    &.selected {
        border: 2px solid #217867ff;
        background-color: #eaf1fd;
        font-weight: bold;
        color: #217867ff;
    }
}

fieldset {
    margin: 0;
    padding: 18px 6px !important;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    gap: 18px;
}

.hidden {
    display: none;
}

.input-container {
    transition: all .3s ease-in-out;

    &:focus-within label {
        color: #007bff;
        ;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="date"] {
    width: 100%;
    padding: 4px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    transition: all .3s ease-in-out;

    &:focus {
        border-bottom: 2px solid #007bff;
    }
}



input[type="number"] {
    -moz-appearance: textfield;
}

datalist {}

input:focus,
select:focus {
    transition: all 0.2s ease-in-out;
}

#cotar-button {}

#resultado {}

#message-box {}